<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodStopV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CF5842B1CFC226100EADBA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF584421CFC226100EADBA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF5844D1CFC226100EADBA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
